/*.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }*/

  .navbar-brand {
    text-align: center !important;
  }

  body {
    background-image: url("wp3213874.jpg");
  }